.banner{
    object-fit: cover;
    object-position: center;
    height: 250px;
    width: 100%;
}

.parent{
    position: relative;
    inline-size: 100%;
    block-size: auto;
    overflow: hidden;
}

.background{
    position: absolute;
    inset-inline: 0px;
    inset-block-start: 0px;
    block-size: 100%;
    background-size: cover;
    background-position: center center;
    filter: blur(15px);
    transform: scale(1.2);
    z-index: -1;
    opacity: 0.4;
}